DATABASE_URL="postgresql://postgres:123456@localhost:5432/tinder_users"
JWT_SECRET="super-secret-change-this"
PORT=3000
API_GATEWAY_PORT=3000
AUTH_DATABASE_URL="postgresql://postgres:123456@localhost:5432/tinder_auth"
USERS_DATABASE_URL="postgresql://postgres:123456@localhost:5432/tinder_users"
SUBSCRIPTIONS_DATABASE_URL="postgresql://postgres:123456@localhost:5432/tinder_subscriptions"
INTERACTIONS_DATABASE_URL="postgresql://postgres:123456@localhost:5432/tinder_interactions"
MATCHES_DATABASE_URL="postgresql://postgres:123456@localhost:5432/tinder_matches"
MESSAGES_DATABASE_URL="postgresql://postgres:123456@localhost:5432/tinder_messages"
AUTH_SERVICE_HOST=127.0.0.1
AUTH_SERVICE_PORT=3001
USERS_SERVICE_HOST=127.0.0.1
USERS_SERVICE_PORT=3002
SUBSCRIPTIONS_SERVICE_HOST=127.0.0.1
SUBSCRIPTIONS_SERVICE_PORT=3003
INTERACTIONS_SERVICE_HOST=127.0.0.1
INTERACTIONS_SERVICE_PORT=3004
MATCHES_SERVICE_HOST=127.0.0.1
MATCHES_SERVICE_PORT=3005
MESSAGES_SERVICE_HOST=127.0.0.1
MESSAGES_SERVICE_PORT=3006
